tqdm
cx_Oracle
records==0.5.2
SQLAlchemy==1.3.0
babel
kaggle
matplotlib 
transformers==4.5.1
ujson
openpyxl
jupyter 
jupyter-client 
jupyter-console 
jupyter-contrib-core 
jupyter-contrib-nbextensions 
jupyter-core 
jupyter-highlight-selected-word 
jupyter-latex-envs 
jupyter-nbextensions-configurator 
jupyter-server 
jupyterlab 
jupyterlab-pygments 
jupyterlab-server 
jupyter-flex
tensorboard
matplotlib
mo-future